opencv-python==4.5.2.52
scikit-image==0.18.1
scikit-video==1.1.11
youtube-dl==2021.4.26
python-dotenv==0.17.1

SpeechRecognition==3.8.1
moviepy==1.0.3
fastapi==0.68.0
uvicorn==0.15.0
fastapi==0.68.0
pylint==2.9.6
